@font-face {
    font-family: "Alef";
    src: url("./Fonts/Alef/Alef-Regular.ttf")
  }




body {
	margin: 0;
	padding: 0;
    height:100vh;
    overflow-x: hidden;
    background-color: #2f3233;
    overflow-y: auto;
}

html::-webkit-scrollbar {
    display: none;
  }




.one{
    height: 100vh;
    width: 69.792%;
    background-color: #344966;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one .nav-btn{
    visibility: hidden;
}



.two{
    height: 100vh;
    width: 1.875%;
    background-color: #D6CBC1;
}

.three{
    height: 100vh;
    width: 1.875%;
    background-color: #344966;
}

.four{
    height: 100vh;
    width: 1.875%;
    background-color: #D6CBC1;
}

.five{
    height: 100vh;
    width: 24.583%;
    background-color: #344966;
}

.logo{
    position: absolute;
    top: 3.98%;
    left: 4.01%;
    height: 14%;

}

.logo1{
    position: absolute;
    top: 103.98%;
    left: 4.01%;
    height: 14%;

}

.branding{
    position: absolute;
    top: 106%;
    left: 13.95%;
    height: 14%;

}

.branding *{
    margin:0;
}

.branding h1{
    font-size: 2.2rem;
    font-family: Alef;
    color: #D6CBC1;
    font-weight: lighter;
}

.branding h2{
    font-size: 1.25rem;
    font-family: Alef;
    color: #D6CBC1;
    font-weight: lighter;

}



.landing-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:8.06% ;
}

.landing-body *{
    margin-top: 0;
    margin-bottom: 0;
}

.yellow{
    color: #FFC700;
}

.line{

    border:none;
    width: 402px;
    height: 6px;
    background-color: #FFC700;

}

.scroll-res{
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.scroll-res *{
    margin: 0;
}

.scroll-res h2{
    color: #D6CBC1;
    font-family: Alef;
    font-size: 1rem;
}

.scroll-res svg{
    fill: #FFC700;
}

.scroll-res1{
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 190%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.scroll-res1 *{
    margin: 0;
}

.scroll-res1 h2{
    color: #D6CBC1;
    font-family: Alef;
    font-size: 1rem;
}

.scroll-res1 svg{
    fill: #FFC700;
}

.scroll-res2{
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 190%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.scroll-res2 *{
    margin: 0;
}

.scroll-res2 h2{
    color: #D6CBC1;
    font-family: Alef;
    font-size: 1rem;
}

.scroll-res2 svg{
    fill: #FFC700;
}

.landing-body h2{
    color: #D6CBC1;
    font-family: Alef;
    font-weight: lighter;
    font-size: 1.25rem;
    margin-top: 15px;
    text-align: center;

}

.landing-body h1{
    font-family: Alef;
    font-size: 8rem;
    color: #D6CBC1;
}

.landing-body h3{
    color: #D6CBC1;
    font-family: Alef;
    font-weight: lighter;
    font-size: 1.25rem;
    margin-top: 0;
}


/*SideBar*/

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
 
   
  
}

.sidebar h1{
    transform: rotate(270deg);
    color: #D6CBC1;
    font-family: Alef;
    font-size: 15vh;
    font-weight: lighter;
    margin-top: 54%;
   

}

.sidebar svg{
    margin-top: 1.2%;
    fill: #D6CBC1;
}

.sidebar1{
    transform: rotate(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
 
   
  
}

.sidebar1 h1{
    transform: rotate(270deg);
    color: #D6CBC1;
    font-family: Alef;
    font-size: 15vh;
    font-weight: lighter;
    margin-top: 54%;
   

}

.sidebar1 svg{
    margin-top: 1.2%;
    fill: #D6CBC1;
}




/* About Body */

.about-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:8.06% ;
}

.about-body *{
    margin-top: 0;
    margin-bottom: 0;
}

.about-body h2{
    color: #D6CBC1;
    font-family: Alef;
    font-weight: lighter;
    font-size: 1.25rem;
    margin-top: 15px;
    text-align: center;
}

.about-body h3{
    width: 39.4%;
    color: #D6CBC1;
    font-family: Alef;
    font-weight: lighter;
    font-size: 1.15rem;
    margin-top: 3.61%;
    text-align: left;

}

.about-body h1{
    font-family: Alef;
    font-size: 1.6rem;
    color: #FFC700;
    margin-top: 6.203%;
    font-weight: lighter;
    text-align: center;
}



/*Page 3*/


.lecoin .one{
    background-image: url(./Lecoin.png);
    background-position: center;
}

.logo2{
        position: absolute;
        top: 203.98%;
        left: 4.01%;
        height: 14%;
    
}

.branding1{
    position: absolute;
    top: 206%;
    left: 13.95%;
    height: 14%;

}

.branding1 *{
    margin:0;
}

.branding1 h1{
    font-size: 2.2rem;
    font-family: Alef;
    color: #D6CBC1;
    font-weight: lighter;
}

.branding1 h2{
    font-size: 1.25rem;
    font-family: Alef;
    color: #D6CBC1;
    font-weight: lighter;

}

.lecoin-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:8.06% ;
}

.lecoin-body *{
    margin-top: 0;
    margin-bottom: 0;
}

.lecoin-body h1{
    font-family: Alef;
    color: #FFC700;
    font-size: 3.3rem;
    font-weight: lighter;
    margin-bottom: 3.90%;
}

.lecoin-body h3{
    color: #D6CBC1;
    font-family: Alef;
    font-size: 1.4rem;
    margin-bottom: 5%;
    font-weight: lighter;
}

.lecoin-body h3 span{
    font-family: Alef;
    font-size: 1.5rem;
}

.lecoin-body h2{
    width: 80%;
    font-size: 2.2rem;
    font-family: Alef;
    color: #D6CBC1;
    font-weight: lighter;
}



/*Page 4 */
.logo3{
    position: absolute;
    top: 303.98%;
    left: 4.01%;
    height: 14%;

}

.branding2{
position: absolute;
top: 306%;
left: 13.95%;
height: 14%;

}

.branding2 *{
margin:0;
}

.branding2 h1{
font-size: 2.2rem;
font-family: Alef;
color: #D6CBC1;
font-weight: lighter;
}

.branding2 h2{
font-size: 1.25rem;
font-family: Alef;
color: #D6CBC1;
font-weight: lighter;

}




.leveler-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:8.06% ;
}

.leveler-body *{
    margin-top: 0;
    margin-bottom: 0;
}

.leveler-body h1{
    font-family: Alef;
    color: #FFC700;
    font-size: 3.3rem;
    font-weight: lighter;
    margin-bottom: 3.90%;
}

.leveler-body h3{
    color: #D6CBC1;
    font-family: Alef;
    font-size: 1.4rem;
    margin-bottom: 5%;
    font-weight: lighter;
}

.leveler-body h3 span{
    font-family: Alef;
    font-size: 1.5rem;
}

.leveler-body h2{
    width: 80%;
    font-size: 2.2rem;
    font-family: Alef;
    color: #D6CBC1;
    font-weight: lighter;
}

.leveler .one{
    background-image: url(./Leveler.png);
    background-position: bottom;
}



/*Page 5 */
.logo4{
    position: absolute;
    top: 403.98%;
    left: 4.01%;
    height: 14%;

}

.branding3{
position: absolute;
top: 406%;
left: 13.95%;
height: 14%;

}

.branding3 *{
margin:0;
}

.branding3 h1{
font-size: 2.2rem;
font-family: Alef;
color: #D6CBC1;
font-weight: lighter;
}

.branding3 h2{
font-size: 1.25rem;
font-family: Alef;
color: #D6CBC1;
font-weight: lighter;

}






.productive-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:8.06% ;
}

.productive-body *{
    margin-top: 0;
    margin-bottom: 0;
}

.productive-body h1{
    font-family: Alef;
    color: #FFC700;
    font-size: 3.3rem;
    font-weight: lighter;
    margin-bottom: 3.90%;
}

.productive-body h3{
    color: #D6CBC1;
    font-family: Alef;
    font-size: 1.4rem;
    margin-bottom: 5%;
    font-weight: lighter;
}

.productive-body h3 span{
    font-family: Alef;
    font-size: 1.5rem;
}

.productive-body h2{
    width: 80%;
    font-size: 2.2rem;
    font-family: Alef;
    color: #D6CBC1;
    font-weight: lighter;
}

.productive .one{
    background-image: url(./Productive.png);
    background-position: bottom;
}


/*Page 6*/
.logo5{
    position: absolute;
    top: 503.98%;
    left: 4.01%;
    height: 14%;

}

.branding4{
position: absolute;
top: 506%;
left: 13.95%;
height: 14%;

}

.branding4 *{
margin:0;
}

.branding4 h1{
font-size: 2.2rem;
font-family: Alef;
color: #D6CBC1;
font-weight: lighter;
}

.branding4 h2{
font-size: 1.25rem;
font-family: Alef;
color: #D6CBC1;
font-weight: lighter;

}

.contact-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:8.06% ;
}

.contact-body *{
    margin-top: 0;
    margin-bottom: 0;
}

.contact-body h2{
    color: #D6CBC1;
    font-size: 2rem;
    font-family: Alef;
    text-decoration: none;
    font-weight: lighter;

}

.contact-body h2 a{
    color:#D6CBC1;
    text-decoration: none;
    transition: color 0.5s;
}

.contact-body h2 a:hover{
    color:#FFC700;
}

.contact-body h3{
    margin-top: 3%;
    font-family: Alef;
    color: #D6CBC1;
    width: 60%;
    font-size: 1.5rem;
    margin-bottom: 5%;

}




/*Media Queries */


@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 800px){
	.two{
        display: none;
    }

    .three{
        display: none;
    }

    .four{
        display: none;
    }

    .five{
        display: none;
    }

    .one{
        width: 100%;
    }
    .landing-body{
        justify-content: center;
        align-items: center;
    }


    .scroll-res{
        visibility: visible;
    }

    .scroll-res1{
        visibility: visible;
    }

    .scroll-res2{
        visibility: visible;
    }

    .about-body{
        justify-content: center;
        align-items: center;
    }
    .about-body h3{
        text-align: center;
    }




    .lecoin-body{

        justify-content: center;
        align-items: center;
    }

    .lecoin-body h2{
        font-size: 1.5rem;
    }

    .lecoin-body h3{
        font-size: 1.25rem;
    }

    .branding{
        display: none;
    }

    .branding1{
        display: none;
    }



    .leveler-body{

        justify-content: center;
        align-items: center;
    }

    .leveler-body h2{
        font-size: 1.5rem;
    }

    .leveler-body h3{
        font-size: 1.25rem;
    }

    .branding2{
        display: none;
    }




    .productive-body{

        justify-content: center;
        align-items: center;
    }

    .productive-body h2{
        font-size: 1.5rem;
    }

    .productive-body h3{
        font-size: 1.25rem;
    }

    .branding3{
        display: none;
    }


    .contact-body{

        justify-content: center;
        align-items: center;
    }

    .contact-body h2{
        font-size: 1.5rem;
    }

    .contact-body h3{
        font-size: 1.25rem;
    }

    .branding4{
        display: none;
    }

}
@media only screen and (max-width: 425px){
.one *{
    padding-right: 10px;
}

}

@media only screen and (max-height: 425px){
    
    
    }